# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing & Coverage
/coverage
/playwright-report
/test-results

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma
/prisma/client
