# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing & Coverage
/coverage
/playwright-report
/test-results

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
*.log

# Local env files
.env*.local
.env
.env.production

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma
/prisma/client

# Firebase cache & frameworks artifacts
.firebase/
.firebaserc
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Vercel artifacts
.vercel/

# OS / Editor
.idea/
.vscode/
Thumbs.db
